@page "/counter"

<div class="row">
    <div class="col-sm">
        Left Text:
        <textarea class="w-100" rows="10" id="txtLeft" bind="@left" />
    </div>
    <div class="col-sm">
        Right Text:
        <textarea class="w-100" rows="10" id="txtRight" bind="@right" />
    </div>
</div>

<button class="btn btn-primary" onclick="@Diff">Create Diff</button>

@if (diffResult != null)
{
    rowCounter = 0;
    <table border="1" width="100%">

        @foreach (CsvDiff.DiffResultRow row in diffResult.Rows)
        {
            cellWidth = 100 / (row.Cells.Count() * 2);
            cellCounter = 0;
            <tr>

                @foreach (var cell in row.Cells)
                {
                    if (cell.IsMatch)
                    {
                        <td colspan="2" class="bg-success" width="@(cellWidth * 2)%">
                            @cell.Left.Original
                        </td>
                    }
                    else
                    {
                        <td class="bg-danger" width="@(cellWidth)%">
                            @cell.Left.Original
                        </td>
                        <td class="bg-danger" width="@(cellWidth)%">
                            @cell.Right.Original
                        </td>
                    }
                    cellCounter = cellCounter + 1;
                }

                @{
                    rowCounter = rowCounter + 1;
                }
            </tr>
        }
    </table>
}

@functions {
    string crlf = Environment.NewLine;
    string left = $"left1,left2,left3{Environment.NewLine}a{Environment.NewLine}b{Environment.NewLine}c,c,c";
    string right = $"right{Environment.NewLine}a,b{Environment.NewLine}xx{Environment.NewLine}c,c,c";
    decimal cellWidth = 5;
    int rowCounter = 0;
    int cellCounter = 0;
    CsvDiff.DiffResult diffResult;

    void Diff()
    {
        CsvDiff.Differ differ = new CsvDiff.Differ();
        diffResult = differ.Diff(left, right);
    }
}
