@page "/counter"

<textarea rows="10" id="txtLeft" bind="@left" />
<textarea rows="10" id="txtRight" bind="@right" />


<button class="btn btn-primary" onclick="@Diff">Click me</button>

@if (diffResult != null)
{
    rowCounter = 0;
<table border="1" width="100%">
    
    @foreach (CsvDiff.DiffResultRow row in diffResult.Rows)
    {
        cellWidth = 100 / (row.Cells.Count()*2);
        cellCounter = 0;
    <tr>

        @foreach (var cell in row.Cells)
        {
            Console.WriteLine($"coords: ({rowCounter},{cellCounter}); match: {cell.IsMatch}; left: {cell.Left.Original}; right: {cell.Right.Original}");
            if (cell.IsMatch)
            {
                <td colspan="2" class="bg-success" width="@(cellWidth * 2)%">
                    @cell.Left.Original
                </td>
            }
            else
            {
                <td class="bg-danger" width="@(cellWidth)%">
                    @cell.Left.Original
                </td>
                <td class="bg-danger" width="@(cellWidth)%">
                    @cell.Right.Original
                </td>
            }
            cellCounter = cellCounter + 1; 
        }

        @{
            rowCounter = rowCounter + 1;
        }
    </tr>
    }
</table>
}

@functions {
    string left = "left1,left2,left3\r\na\r\nb\r\nc,c,c";
    string right = "right\r\na,b\r\nxx\r\nc,c,c";
    decimal cellWidth = 5;
    int rowCounter = 0;
    int cellCounter = 0;
    CsvDiff.DiffResult diffResult;

    void Diff()
    {
        Console.WriteLine(left.Replace("\r", "#cr#").Replace("\n", "#lf#"));
        Console.WriteLine(Environment.NewLine.Replace("\r", "#cr#").Replace("\n", "#lf#"));
        CsvDiff.Differ differ = new CsvDiff.Differ();
        diffResult = differ.Diff(left, right);
    }
}
